@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url("https://use.typekit.net/wvi6ste.css");

/* Global Styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html {
    font-family: 'Poppins', sans-serif,
        sans-serif;
    font-size: 16px;
    
    
}

.main {
    display: flex;
    flex-direction:column ;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
   
}
.navigation{
    position:fixed;
    left: 95%;
    top: 4%;
    z-index: 10;
    cursor: pointer;
}
.nav-icon{
    background-color:gray;
    width: 3rem;
    height: 4px;
}
.nav-icon::before, .nav-icon::after{
    position: absolute;
    content: '';
    width: 3rem;
    height: 4px;
    background-color: gray;

}
.nav-icon::before{
    transform: translateY(-10px);
    background-color: gray;

}
.nav-icon::after{
    transform: translateY(10px);
}
/* animation 1 */
.ball-container {
    position: absolute;
    top: 182px;
    left: -12%;
    width: 314px;
    height: 314px;
    animation: move 1s linear 1s forwards;
    overflow: hidden;
}

.ball{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #F2B749 0% 0% no-repeat padding-box;
}
.bar{
    display: block;
    position: absolute;
    top: 496px;
    left: -.02%;
    width: 25%;
    height: 4.7%;
    background: #012E40 0% 0% no-repeat padding-box;
    border-radius: 0px 48px 48px 0px;
    overflow: hidden;
}

.page1,
.page2,
.page3{
    height: 100vh;
    width: 100vw;
    
   
}

.aman_rawat_introduction{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 40%;
    width: 40%;
    height: 50%;
    overflow: hidden;
}
.aman_rawat_introduction h2{
    font-size:3.375rem ;
    text-align: left;
    font-style: italic;
}
.aman_rawat_introduction h3{
    font-size: 1rem;
    position:relative;
    
    top: 10%;
}
.aman_rawat_introduction p{
    font-weight: 300;
    position: relative;
    top: 40%;
    width: 100%;
}


.skills,
.projects,
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.skills h2,.projects h2,.contact h2{
    font-size: 2.54rem;
    margin-bottom: 2%;
}
.skills .icon_container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 20%;
    
}
.icons_container img{
    margin: 0px 20px 20px 20px;
    transition: height 2s linear 2s;
    cursor: pointer;
    
}
.icons_container img:hover {
    height: 100%;
   
}
.project_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.project_companywebsite,
.project_bim_platform,
.project_e_commerce_platform,
.project_reddit {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #F2B749;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin: 2% 2%;
    justify-content: center;
    cursor: pointer;
    
}
.project_companywebsite{
    
    background-repeat: no-repeat;
  
    border-radius: 50%;
}

.companywebsite_title,
.bim_platform_title,
.e_commerce_platform_title,
.reddit_title{
    font-size: 1.2rem;
    text-align: center;
    margin: 0 auto;
}
#project_content {
    overflow: hidden;
    display: none;
    position: absolute;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #F2E6C2;
    background: #012E40 0% 0% no-repeat padding-box;
    opacity: 0.9;
    width: 300px;
    height: 300px;
    border-radius:50% ;
    /* border-bottom-right-radius:50% ; */
  
    
}
#icon_container {
   
    
}

.contact {
   position: relative;
   top: 30%;
   
}
.contact #name,
#email, 
#message,
#phone_number
{
    border-radius: 10px;
    border: 1px solid #012E40;
    margin-left: -20%;
    width: 160%;
    height: 10%;
    background-color:#F2B749;
    opacity: 0.3;
    font-family: 'Montserrat',sans-serif;

}
label,
#service {
    margin-left: -20%;
   text-align: center;

}
#service{
    margin: 10px;
}
#message{
    height: 30%;
} 
.submit{
    font-family:'Montserrat',sans-serif;
    font-size: 1.2rem ;
    font-weight: 500;
    margin-left: 20%;
    padding: 3% 15%;
    background-color: #012E40;
    border: 1px solid #012E40;
    color: #F2E6C2;
}

@keyframes move{
    0%{
        left: -12%;
    }
        
    100%{
        left: 3%;

    }

}
@keyframes move-bigball{
    0% {
        left: -12%;
    }

    100% {
        left: 3%;
        top: 7%;
        left: 25.4%;
        width: 620px;
        height: 620px;
        opacity: 0.65;

    }
}
@keyframes transition-effect {
    0% {

    }
    100%{
        color: #F2E6C2;
        background: #012E40 0% 0% no-repeat padding-box
    }
    
}
